@font-face {
    font-family: 'AvertaDemoPE';
    src: url('./fonts/AvertaDemoPECuttedDemo-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'AvertaDemoPE';
    src: url('./fonts/AvertaDemoPE-ExtraBold.otf');
    font-weight: 800;
}

$primary-color: #23a845;
$primary-text-color: #333334;

* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

span, a, p, ol, ul, li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul li {
    list-style-type: none;
}

body {
    font-family: AvertaDemoPE;
    font-weight: 400;
    color: $primary-text-color;
}

#column-left {
    padding: 0px 0px 0px 0px;
    z-index: 10000;
}

#content {
    padding: 0px 0px 0px 0px;
}

.container {
    width: 1170px;
    padding: 0px 0px 0px 0px;
    
    .container-row {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
}

.hexagon-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 12px;
    position: relative;
    background-color: $primary-color;
    
    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0px;
        left: -6px;
        border-right: 6px solid $primary-color;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0px;
        right: -6px;
        border-left: 6px solid $primary-color;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
}

.hexagon-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 6px;
    position: relative;
    background-color: $primary-color;
    
    &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0px;
        left: -3px;
        border-right: 3px solid $primary-color;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0px;
        right: -3px;
        border-left: 3px solid $primary-color;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}

header {
    position: relative;
    
    .container {
        display: flex;
        flex-direction: row;
        
        .left-side {
            &.logo {
                height: 150px;
                background-color: #128630;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                z-index: 1000;
            }
        }
        
        .right-side {
            flex: 1;
            display: flex;
            flex-direction: column;
        
            .inner-wrapper {
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                
                .market-info {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    align-items: center;
                    justify-content: space-between;

                    .short-market-description {
                        font-size: 16px;
                        font-weight: 400;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: $primary-color;
                        margin: 0px 30px 0px 30px;
                    }

                    .phones {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        font-size: 18px;
                        margin: 0px 21px 0px 0px;
                        
                        .phone-icon {
                            margin: 0px 20px 0px 0px;
                            
                            img {
                                display: flex;
                                width: 10px;
                                height: 10px;
                            }
                        }
                        
                        .phone-number {
                            color: $primary-text-color;
                        }
                        
                        .phone-separator {
                            color: $primary-color;
                            margin: 0px 8px 0px 8px;
                        }
                    }
                }
                
                .user-area {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    
                    .cart {
                        margin: 0px 36px 0px 0px;
                        
                        .cart-link {
                            position: relative;
                            
                            .cart-icon {
                                
                            }
                            .cart-products-count {
                                color: #666667;
                                font-size: 14px;
                                font-weight: 600;
                                font-family: Calibri;
                                border-radius: 50%;
                                border: 1px solid #e5e5e5;
                                box-shadow: 0px 2px 1px #6666676b;
                                background-color: #ffffff;
                                width: 25px;
                                height: 25px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: -8px;
                                right: -3px;
                                transform: translate(50%, -50%);
                            }
                        }
                    }
                    
                    .personal-cabinet {
                        height: 63px;
                        border-left: 1px solid #dddcdf;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        position: relative;
                        
                        .cabinet-link {
                            display: block;
                            margin: 0px 0px 0px 20px;
                        }
                        
                        .user-informations {
                            display: none;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            transform: translateX(100%);
                            
                            .inner-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border: 1px solid #dddcdf;
                                margin: 0px 0px 0px 10px;

                                .informations-item {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 14px;
                                    color: $primary-text-color;
                                    height: 35px;
                                    cursor: pointer;

                                    &:hover {
                                        color: $primary-color;
                                    }
                                }

                                .informations-separator {
                                    display: block;
                                    height: 1px;
                                    min-width: 163px;
                                    background-color: #ececec;
                                    margin: 0px 12px 0px 12px;
                                }
                            }
                        }
                        
                        &:hover {
                            .user-informations {
                                display: block;
                            }
                        }
                    }
                }
                
            }
            .inner-outline {
                height: 50px;
                width: 100%;
            }
        }
    }
    

    
    
    #top-menu {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: $primary-color;
        overflow-x: hidden;

        .container {
            justify-content: flex-end;
            
            .menu-wrapper {
                position: relative;
                
                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 50px;

                    li {
                        list-style-type: none;
                        margin: 0px 0px 0px 50px;

                        a {
                            text-decoration: none;
                            color: #ffffff;
                            font-size: 18px;

                            &:hover {}
                        }
                        
                        &:first-child {
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
                
                .background-left {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 100%;
                    width: 100vw;
                    height: 100%;
                    background: url('../image/theme_images/menu_background_2.png') transparent 0px 0px repeat-x;
                    transform: scale(-1, 1);
                    -moz-transform: scale(-1, 1);
                    -webkit-transform: scale(-1, 1);
                    -o-transform: scale(-1, 1);
                    -ms-transform: scale(-1, 1);
                }
                
                .background-right {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 100%;
                    width: 100vw;
                    height: 100%;
                    background: url('../image/theme_images/menu_background_2.png') transparent 0px 0px repeat-x;
                }
            }
        }
    }
}

.categories-module {
    background-color: #ffffff;
    border: 1px solid #dfe1e9;
    
    a {
        color: $primary-text-color;
        font-size: 16px;
    }
    
    ul.first-level-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        
        li {
            &.first-level-item {
                width: 100%;
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 0px 0px 0px 29px;
                
                > a {
                    
                }

                .toggle-slider {
                    position: relative;
                    overflow: hidden;
                    width: 35px;
                    height: 8px;
                    margin: 0px 13px 0px 0px;
                    
                    .toggle {
                        position: absolute;
                        top: 50%;
                        right: 13px;
                        transform: translateY(-50%);
                        width: 100%;
                        height: 8px;
                        transition: right 0.2s ease-out;
                        
                        .line {
                            position: absolute;
                            border-bottom: 1px solid #23a845;
                            height: 0px;
                            width: 50px;
                            right: 3px;
                            top: 4px;
                            z-index: 1;
                        }
                        .circle {
                            background-color: #23a845;
                            border-radius: 50%;
                            width: 7px;
                            height: 7px;
                            position: absolute;
                            display: block;
                            right: 0px;
                            top: 0px;
                            z-index: 10;
                        }
                    }
                }

                ul.second-level-list {
                    display: none;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: center;
                    background-color: #ffffff;
                    position: absolute;
                    top: -1px;
                    left: 100%;
                    border: 1px solid #dfe1e9;
                    padding: 7px 0px 7px 0px;

                    li.second-level-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: stretch;
                        position: relative;
                        
                        > a {
                            width: 100%;
                            height: 33px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            padding: 0px 28px 0px 28px;
                            white-space: nowrap;
                        }
                        
                        .hover-indicator {
                            display: block;
                            position: absolute;
                            width: 3px;
                            top: 0px;
                            bottom: 0px;
                            left: -1px;
                            background-color: $primary-color;
                            opacity: 0;
                            transition: opacity 0.2s linear;
                        }
                        
                        &:hover {
                            .hover-indicator {
                                opacity: 1;
                                transition: opacity 0.2s linear;
                            }
                        }
                    }
                }

                &:hover {
                    .toggle-slider {
                        .toggle {
                            right: 0px;
                            transition: right 0.2s ease-out;
                        }
                    }

                    ul.second-level-list {
                        display: flex;
                    }
                }
                
            }
            
            &.separator {
                height: 1px;
                background-color: #dfe1e9;
                margin: 0px 18px 0px 18px;
            }
        }
    }
}

// Carousel slideshow module
.carousel-slideshow {
    flex: 1;
    margin: 15px 0px 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    
    .visible-area {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        ul.slides-container {
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0px;
            height: 100%;
            transition: left 0.3s ease-out;
            
            li.item {
                width: 100%;
                height: 100%;
                
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .controls {
        height: 0px;

        .pagination {
            position: absolute;
            bottom: 22px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            
            > a {
                display: block;
                margin: 0px 11px 0px 11px;
                cursor: pointer;
                
                &.current {
                    background-color: #ffffff;
                    transition: background-color 0.3s ease-out;
                    
                    &:before {
                        border-right: 3px solid #ffffff;
                        transition: border-right 0.3s ease-out;
                    }
                    
                    &:after {
                        border-left: 3px solid #ffffff;
                        transition: border-left 0.3s ease-out;
                    }
                }
            }
        }
        .direction-arrows {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            
            .arrow {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 42px;
                height: 42px;
                background-color: #666667;
                transition: background-color 0.3s linear;
                cursor: pointer;
                
                &:hover {
                    background-color: #9c9c9c;
                    transition: background-color 0.3s linear;
                }
                
                &:after {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-left: 2px solid #ffffff;
                    border-top: 2px solid #ffffff;
                }
                
                &.arrow-left {
                    &:after {
                        transform: rotateZ(-45deg);
                        margin: 0px 0px 0px 5px;
                    }
                }
                
                &.arrow-right {
                    &:after {
                        transform: rotateZ(135deg);
                        margin: 0px 5px 0px 0px;
                    }
                }
            }
        }
    }
}

// Pages styles
.common-home {
    > .container {
        min-height: 600px;
        
        .container-row {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }
    }
    
    #content {
        min-height: auto;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}